@import "tailwindcss";

.custom-video>div{
    position: relative;
    padding-bottom: 56%;
    width: 100%;
  }
  .custom-video>div>video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  